html, body, #app {
  height: 100%;
}

.ivu-tree ul {
  font-size: 14px !important;
}

.ivu-layout-content {
  flex: 1 !important;
}

.ivu-layout-has-sider {
  height: calc(100% - 60px);
}

.icons {
  height: calc(100% - 90px);
  zoom: 1;
}

.ivu-col {
  padding-left: 8px;
  padding-right: 8px;
}

.ivu-layout-sider {
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
}

.ivu-card {
  margin-top: 16px;
}

.route-download {
  height: 100%;
}

.ivu-menu-item {
  .ivu-icon {
    margin-right: 8px;
  }
}

.c-btn-group {
  .ivu-btn {
    > span {
      display: flex;
      align-items: center;

      .ivu-icon {
        margin-right: 4px;
      }
    }
  }
}

.c-action-group {
  .ivu-btn {
    margin: 0 4px;
  }
}